@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* font-family: 'Montserrat', sans-serif; */

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #010101;
}

.main-outercon {
    overflow: hidden;
    padding: 50px 0;
}

ul {
    margin: 0;
    padding: 0;
}

h5,
h6 {
    font-weight: 700;
    margin-bottom: 20px;
}

a {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #010101;
    margin-bottom: 10px;
}

textarea {
    border: 1px solid #bebebe;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 18px;
    color: #010101;
    min-height: 40px;
}

.btn {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.order-track-outer {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}

.track-header {
    background: #bebebe;
    padding: 30px;
}

.track-body {
    padding: 30px 0 0;
}

.track-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    position: relative;
}

.track-item:after {
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #808080;
}

.track-item:last-child:after {
    display: none;
}

.track-item .status {
    width: 100%;
    z-index: 9;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.track-item .status:first-child {
    text-align: right;
}

.status .status-color {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

/* Communication page */

.chat-header,
.chat-body,
.chat-footer {
    padding: 20px;
    border-bottom: 1px solid #bebebe;
}

.comm .order-track-outer {
    border: 1px solid #bebebe;
    border-radius: 5px;
}

.message-body {
    display: flex;
    margin-bottom: 10px;
}

.message-image img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.message-image {
    margin-right: 15px;
}

.message-text {
    padding: 5px 20px;
    background: #ebecf0;
    border-radius: 5px;
}

.message-text h6,
.message-text p {
    font-size: 14px;
    line-height: 18px;
}

.message-text h6 {
    margin-bottom: 0;
}

.message-text span {
    font-size: 10px;
    line-height: 14px;
    color: #949494;
}

.page-nav {
    padding: 0 0 40px;
    text-align: center;
}

.page-nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.page-nav ul li:last-child {
    margin-right: 0;
}

.page-nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: #010101;
    position: relative;
}

.page-nav ul li a:before {
    content: '';
    width: 0;
    height: 3px;
    background: #28a745;
    position: absolute;
    left: 0;
    bottom: -5px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.page-nav ul li a:hover::before,
.page-nav ul li.active a:before {
    width: 100%;
}




/* Extra large devices (large desktops, 1366px and down) */
@media (max-width: 1366px) {}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    .main-outercon {
        padding: 40px 0;
    }

    .chat-header,
    .chat-body,
    .chat-footer {
        padding: 15px;
    }
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {

    p {
        font-size: 14px;
        line-height: 18px;
    }

    h6 {
        margin-bottom: 10px;
    }

    .address-block {
        margin-bottom: 20px;
    }

    .track-header {
        padding: 20px;
    }

    .track-body {
        padding: 20px 0 0;
    }

    .track-item {
        height: 120px;
    }

    .track-item .status {
        font-size: 14px;
        line-height: 18px;
    }

    .chat-header,
    .chat-body,
    .chat-footer {
        padding: 10px;
    }

    .chat-header .btn:first-child {
        margin-bottom: 10px;
    }

    .page-nav ul li a {
        font-size: 14px;
        line-height: 18px;
    }

}